body{
    background-color: rgb(24, 23, 23);
}
#container{
    padding: 2rem;
    margin: 2.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 35px;
    justify-content:center;
}
.box{
    border: 3px solid rgb(8, 141, 3);
    background-color: rgb(169, 165, 165);
    border-radius: 20px;
     width: 19vw; 
    padding: 0.7rem;
    line-height: 2.1rem;
    
}
.heading{
    border: 2px solid rgb(84, 82, 82);
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
    
}
#get_box5{
    padding: 10px;
    background: rgba(12, 130, 154, 0.85);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: 20px;
    width: 20%;
    border: 3px solid rgb(21, 16, 161);
  }
  #button5{
    border-style: none;
    background: rgba(60, 89, 89, 0.85);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 3px solid  rgba(40, 59, 59, 0.85);;
  }
  input{
    padding: 5px;
    border: 2px solid rgb(1, 1, 56);
    border-radius: 10px;
    margin: 5px;
    width: 80%;
   height: 100;
  }
  #status{
    padding: 5px;
    border: 2px solid rgb(1, 1, 56);
    border-radius: 10px;
    margin: 5px;
    width: 50%;
   height: 100;
  }