*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #7edf49;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 38px;
	letter-spacing: 1px;
	color: #530000;
}

.forms {
	display: flex;
	 align-items: flex-start;  
	margin-top: 30px;
    border: 2px solid rgb(6, 6, 109);
    border-radius: 10px;
}
.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #021640;
  font-weight: bolder;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #d8e0e4;
  border: 1px solid #111c2b;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #7c1515;
	transform: translateX(-30%);
}